<script>
import { useJigsStore } from "../../stores/jigs";
</script>

<template>
  <video width="640" height="480" controls="false" autoplay="true"
        playsinline="true" muted="" loop="">
        <source src="/assets/images/Skeleton_All_SD.mp4" type="video/mp4">
</video>
</template>
